{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <div class="header">    
        <h1>URL Shortner!</h1>
            <p id="about">
                What could be more exciting than taking a reallyyy long url and making it short!
            </p>
        <h1>Enter a URL and watch the magic happen</h1>
    </div>

    <div class="form">
        <form class="form" method="POST">
            <input type='text' name='org_url'/>
            <button type="submit">Shorten!</button>
        </form>
    </div>
</div>
{% endblock %}