.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    padding:0;
    height: 100%;
    width: 100%;
    background-color: #F8B366;
}

.header{
    height: 250px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.form{
    height: 250px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}



